.header {
    display: grid;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar register";
}

.logo {
    font-family: "Dancing Script", cursive;
    color: rgba(0, 100, 215,1);
    font-size: large;
}

.navigation {
    grid-area: navbar;
    display: flex;
    align-items: center;
}
.navLink {
    padding: 2rem;
    text-align: center;
    color: rgba(0, 100, 215,1);
    text-decoration: none;
}

.navLinkRegister {
    grid-area: register;
    display: flex;
    padding: 2rem;
    align-items: center;
    color: rgba(0, 100, 215,1);
    text-decoration: none;
}

@media screen and (max-width: 1440px) { /* Régler autremement par la suite*/
    .logo {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        "logo . register"
        "navbar navbar navbar";
    } 
    .navLink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    
    .logo {
        padding: 0 2rem;
    }
}